<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forretning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <link rel="stylesheet" href="../static/styles.css" th:href="@{styles.css}">
</head>
<body id="background">
<div class="d-flex flex-column flex-shrink-0 p-3" id="sidebar">
    <h4><i class="bi bi-car-front width d-flex" id="bil-logo">   bilabonnement.dk</i></h4>
    <ul class="nav nav-pills flex-column mb-auto">
        <li><a href="/" class="nav-link link-light"><i class="bi bi-house"></i>  Hjem</a></li>
        <li><a href="/dataRegistration" class="nav-link link-light"><i class="bi bi-clipboard-data"></i>  Data registrering</a></li>
        <li><a href="/damageRegistration" class="nav-link link-light"><i class="bi bi-bandaid"></i>  Skade registrering</a></li>
        <li><a href="/businessData" class="nav-link link-light"><i class="bi bi-cash-coin"></i>  Forretningsdata</a></li>
        <li><a href="/createCar" class="nav-link link-light"><i class="bi bi-cart-plus"></i>   Opret Bil</a></li>
        <li><a href="/" class="nav-link link-light"><i class="bi bi-piggy-bank"></i>   Sælg Bil</a></li>
    </ul>
</div>

<div class="row justify-content-end" id="businessBoxes">
    <div class="card moneyBox" id="moneyCard">
        <div class="card-body">
            <h2 class="card-title" th:text="${totalSumOfRentedCars}"></h2>
            <h6 class="card-subtitle">Sum af biler udlånt i DKK</h6>
        </div>
    </div>
    <div class="card moneyBox" id="carsRentedCard">
        <div class="card-body">
            <h2 class="card-title" th:text="${amountOfCarsRented}"></h2>
            <h6 class="card-subtitle">Antal biler lejet ud</h6>
        </div>
    </div>
</div>




<!--
<div>
    <div class="donut-chart-block block">
        <h2 class="title">Biler status</h2>
        <div class="donut-chart">
            <div id="portion1" class="profile" data-foo="160 deg"><div class="status rented" data-th-rel="${amountOfCarsRented}"></div></div>
            <div id="portion2" class="profile"><div class="status onStock" data-th-rel="${amountOfCarsOnStock}"></div></div>
            <div id="portion3" class="profile"><div class="status damaged" data-th-rel="${amountOfCarsDamaged}"></div></div>
        </div>
        <ul class="cars-status-percentage horizontal-list">
            <li>
                <p class="rented scnd-font-color">Udlånt</p>
                <p class="rented-percentage" th:text="${amountOfCarsRented}"></p>
            </li>
            <li>
                <p class="onStock scnd-font-color">På Lager</p>
                <p class="onStock-percentage" th:text="${amountOfCarsOnStock}"></p>
            </li>
            <li>
                <p class="damaged scnd-font-color">Skadet</p>
                <p class="damaged-percentage" th:text="${amountOfCarsDamaged}"></p>
            </li>
        </ul>
    </div>
</div>
-->
</body>
</html>