<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Skade</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <link rel="stylesheet" href="../static/styles.css" th:href="@{styles.css}">
</head>
<body>
<div class="d-flex flex-column flex-shrink-0 p-3" id="sidebar">
    <h4><i class="bi bi-car-front width d-flex" id="bil-logo">   bilabonnement.dk</i></h4>
    <ul class="nav nav-pills flex-column mb-auto">
        <li><a href="/" class="nav-link link-light"><i class="bi bi-house"></i>  Hjem</a></li>
        <li><a href="/dataRegistration" class="nav-link link-light"><i class="bi bi-clipboard-data"></i>  Data registrering</a></li>
        <li><a href="/damageRegistration" class="nav-link link-light"><i class="bi bi-bandaid"></i>  Skade registrering</a></li>
        <li><a href="/businessData" class="nav-link link-light"><i class="bi bi-cash-coin"></i>  Forretningsdata</a></li>
        <li><a href="/createCar" class="nav-link link-light"><i class="bi bi-cart-plus"></i>   Opret Bil</a></li>
        <li><a href="/" class="nav-link link-light"><i class="bi bi-piggy-bank"></i>   Sælg Bil</a></li>
    </ul>
</div>


<div class="row justify-content-end carStatusTable">
<div class="card dataTables">
<h2>Her kan du oprette skader på bilerne</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Mærke</th>
        <th scope="col">Model</th>
        <th scope="col">Manuelt gear</th>
        <th scope="col">CO2 udledning</th>
        <th scope="col">Stelnummer</th>
        <th scope="col">Status</th>
        <th scope="col">Opret Skade</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car: ${carsOnStock}">
        <td th:text="${car.manufacturer}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.isManual}"></td>
        <td th:text="${car.CO2discharge}"></td>
        <td th:text="${car.frameNumber}"></td>
        <td th:text="${car.status}"></td>
        <form id="chooseCar" method="post" action="/registerDamage">
            <td> <input type="submit" name="Vælg" value="Vælg"></td>
            <input type="hidden" name="vehicleNumber" th:value="${car.vehicleNumber}">
        </form>
    </tr>
    </tbody>
</table>
</div>
</div>


<div class="row justify-content-end carStatusTable">
    <div class="card dataTables">
        <h2>Biler til reparation</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Mærke</th>
        <th scope="col">Model</th>
        <th scope="col">Manuelt gear</th>
        <th scope="col">CO2 udledning</th>
        <th scope="col">Stelnummer</th>
        <th scope="col">Status</th>
        <th scope="col">Modtag Bil</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car: ${damagedCars}">
        <td th:text="${car.manufacturer}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.isManual}"></td>
        <td th:text="${car.CO2discharge}"></td>
        <td th:text="${car.frameNumber}"></td>
        <td th:text="${car.status}"></td>
        <form id="carReturning" method="post" action="/returnFromRepair">
            <td> <input type="submit" name="Vælg" value="Vælg"></td>
            <input type="hidden" name="vehicleNumber" th:value="${car.vehicleNumber}">
        </form>
    </tr>
    </tbody>
</table>
</div>
</div>
</body>
</html>